{{ form_start(form, {
    'action' : path('ppecheny_questionary_current'),
    'attr' : {
        'method' : 'POST',
        'class' : 'ajax-form questionary',
    }
}) }}
<div class="form-group col-md-12 row">
    {% for child in form %}
        {% if child.vars.block_prefixes.1 != 'submit' %}
            {{ form_row(child) }}
        {% endif %}
    {% endfor %}
</div>
<div>
    <div class="form-actions">
        {{ form_widget(form.save, { 'label': 'Save'|trans({}, 'messages'), 'attr': {'class': 'btn blue'} } ) }}
    </div>
</div>

{{ form_end(form) }}